.table {

    width: auto;
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto 0 auto;
}

.title {
    color: rgb(29, 225, 225);
    font-size: 150%;
    font-weight: bold;
}
.row:hover {
    background-color: grey;
    
}
.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}